 
<nav class="mb-1 navbar navbar-expand-lg navbar-light danger-color lighten-5">
  <a class="navbar-brand" href="#">PITCHER</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
  <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
          <li class="nav-item">
        <a class="nav-link" href="/pitches">Pitches</a>
      </li>
      </ul>

    <ul class="navbar-nav ml-auto">
 {% if current_user.is_authenticated %}
    
      <li class="nav-item">
        <a class="dropdown-item" href="{{url_for('main.profile',uname=current_user.username)}}"><i class="fab fa-sign-in" aria-hidden="true"></i>{{current_user.username}}</a>
      </a>
        <a class="dropdown-item" href="{{url_for('auth.logout')}}">Log out</a>
        
      </li>

      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('auth.login')}}">
          <i class="fab fa-sign-in" aria-hidden="true"></i> Login</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{url_for('auth.register')}}">
          <i class="fab fa-sign-in" aria-hidden="true"></i> Create Account</a>
      </li>
      {%endif%}
    </ul>
  </div>
</nav>